html {
    width: 100%;
    height: 100%;
}
body{
background-color: #FFFF;
font-family: 'Inter', sans-serif;
}

h1 {
    color:  #424242;
   font-family: 'Space Grotesk', sans-serif;
  background-color: #03A9F4;

}

p{
color: #212121;
font-family: 'Space Grotesk', sans-serif;
background-color: #424242;
}
h2{
    color:  #424242;
   font-family: 'Space Grotesk', sans-serif;
  background-color: #03A9F4;
}

.about-us{
  border: solid;
  border-color: #03A9F4;

 background-color: #03A9F4;
 border-color: #212121;
}