html {
    width: 100%;
    height: 100%;
}
body{
background-color: #FFFF;
font-family: 'DM Sans', sans-serif;
}

h1 {
    color:  #424242;
   font-family: 'Outfit', sans-serif;
  background-color: #03A9F4;
  

}

p{
color: #212121;
font-family: 'Space Grotesk', sans-serif;
background-color: #424242;
}
h2{
    color:  #424242;
   font-family: 'Space Grotesk', sans-serif;
  background-color: #03A9F4;
  background-size: 12px;
}

.about-us{
  border: solid 40% #03A9F4;
  border-color: #212121;
}
.container {
  display: grid;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
